recursive-include terminal *.ico *.js *.css *.png *.html *.j2 *.eot *.svg *.ttf *.woff *.yml
recursive-include terminal *.py
recursive-include terminal legal.md
include  LICENSE
include README.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude documentation *
exclude MANIFEST.in
exclude NOTES.md
exclude CONTRIBUTING.md
exclude CODE_OF_CONDUCT.md
exclude package-lock.json