recursive-include terminal *.ico *.js *.css *.png *.html *.eot *.svg *.ttf *.woff *.yml
recursive-include terminal *.py
recursive-include terminal legal.md
include  LICENSE
include README.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude documentation *
recursive-exclude demo *