.code-wrapper {
    position: relative;
    display: block;
}

.copy-button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 5px;
    background: #313244;
    color: #bac2de;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.7;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-button svg {
    width: 20px;
    height: 20px;
    color: #bac2de;
}

.copy-button:hover {
    background: #f2cdcd;
    opacity: 1;
}

.copy-button:hover svg {
    color: #1e1e2e;
}