{# returns the default maximum side navigation depth "2" or 'config.extra.MKDOCS_TERMINAL_MAX_SIDE_NAV_NESTING' #}
{% macro get_max_nesting() -%}
{% if config.extra.MKDOCS_TERMINAL_MAX_SIDE_NAV_NESTING == 0%}0{% elif config.extra.MKDOCS_TERMINAL_MAX_SIDE_NAV_NESTING %}{{ config.extra.MKDOCS_TERMINAL_MAX_SIDE_NAV_NESTING }}{% else %}2{% endif %}
{%- endmacro -%}