{% macro link_or_span(nav_item, title_override) -%}
    {% if nav_item.active %}
        <span><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.url|url }}">
          {% if title_override %}
          {{ title_override }}
          {% else %}
          {{ nav_item.title }}
          {% endif %}
        </a>
    {% endif %}
{%- endmacro %}

{% macro render(nav_item, path, level) %}

  <li class="terminal-side-panel-level-{{ level }}">
    {% if nav_item.children %}
    
      {% if "navigation.indexes" in features %}
          <!-- navigation.indexes feature is ON -->
          <!-- determine if section has an index -->
          {% set ns = namespace(index_matches=[]) %}
          {% set ns.index_matches = nav_item.children|selectattr("title", "eq", "section-index")|list %}



          <!-- section has an index -->
          {% if ns.index_matches|length > 0 %}
          {{ link_or_span(ns.index_matches[0], nav_item.title) }}
          <span><b>{{ ns.index_matches[0].title }}</b></span>
          <!-- section does NOT have an index -->
          {% else %}
          <span><i>{{ nav_item.title }}</i></span>
          {% endif %}

      {% else %}
          <!-- navigation.indexes feature is OFF -->
          <span><i>{{ nav_item.title }}</i></span>                 
      {% endif %}
    {% else %}
    <!-- link for a top level page -->
    {{ link_or_span(nav_item) }}
    {% endif %}
  </li>

  

{% endmacro %}
{{ render(nav_item, path, level) }}
      