{% macro get_base_class( nav_item ) -%}
    {% set ns = namespace(is_index=false, has_active_sibling=false) %}
    {% if "navigation.side.indexes" in features and nav_item.title == "section-index" %}
        {% set ns.is_index = true %}
    {% endif %}

    {% if ns.is_index and nav_item.parent.children %}
        {% for sibling in nav_item.parent.children|rejectattr("title", "eq", "section-index")|list %}
            {% if sibling.active %}
                {% set ns.has_active_sibling = true %}
            {% endif %}
        {% endfor %}
    {% endif%}

    {% if nav_item.active %}
        {% set class = "terminal-mkdocs-side-nav-item--active" -%}
    {% elif ns.has_active_sibling %}
        {% set class = "terminal-mkdocs-side-nav-item--active" -%}
    {% else %}
        {% set class = "terminal-mkdocs-side-nav-item" -%}
    {% endif %}

    {% if ns.is_index %}
        {{ nav_item.parent.children|rejectattr("title", "eq", "section-index")|list|length ~ "-sibs" }}
    {% else %}
        {{ "not-an-index" }}
    {% endif %}

    {# {% if nav_item.children %}
        {{ nav_item.children|length }} ~ {{class|trim}}
    {% else %}
        {{ "no-children-" ~ class|trim }}
    {% endif %} #}
{%- endmacro -%}

{% macro get_class( nav_item ) -%}
    {% set ns = namespace(class="") %}
    {% set ns.class = get_base_class( nav_item ) -%}

    {% if nav_item.children %} 
        {% if "navigation.side.indexes" not in features %}
            {% set ns.class = ns.class ~ " terminal-mkdocs-side-nav-section-no-index" -%}
        {% else %}
            {% if nav_item.children|selectattr("title", "eq", "section-index")|list|length == 0 %}
                {% set ns.class = ns.class ~ " terminal-mkdocs-side-nav-section-no-index" -%}           
            {% endif %}
        {% endif %}
    {% endif %}

    {{ ns.class|trim }}
{%- endmacro -%}
