{% macro make_figure( img_src, img_alt, img_title, caption, class ) -%}
<div class="terminal-mkdocs-tile {{ class }}">
    <figure>
        <img src="{{ img_src }}" 
            alt="{{ img_alt }}" 
            title="{{ img_title }}"
            width="auto" 
            height="auto">
        <figcaption>{{ caption }}</figcaption>
    </figure>
</div>
{%- endmacro -%}