{% macro li_link_or_span(nav_item, with_prompt_styling) -%}
    {% if nav_item.active %}
        <li><span class="{% if with_prompt_styling %}side-panel-highlight{% endif %}"><i>{{ nav_item.title }}</i></span></li>
    {% else %}
        <li><a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a></li>
    {% endif %}
{%- endmacro %}

{% macro level_two_link_or_span(nav_item) -%}
    {% if nav_item.active %}
        <span class="side-panel-highlight"><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
    {% endif %}
{%- endmacro %}

{% macro level_two_section_link_or_span(nav_item) -%}
    {% if nav_item.active %}
        <a class="side-panel-section-lowlight" href="{{ nav_item.title.lower() |url }}"><span>{{ nav_item.title }}</span></a>
    {% elif page.url.startswith(nav_item.title.lower()) %}
        <span class="side-panel-highlight"><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.title.lower() |url }}"><span>{{ nav_item.title }}</span></a>
    {% endif %}
{%- endmacro %}