        <ul>
            {% if page %}
                {% for nav_item in nav %}
                    {% if not nav_item.is_section %}
                        {{ nav_macros.li_link_or_span(nav_item, true) }}
                    {% else %}
                    <li>
                        {% for second_level in nav_item.children %}
                            {% if second_level.is_section %}
                                <ul>
                                    {{ nav_macros.level_two_section_link_or_span(second_level)}}
                                        {% for third_level in second_level.children %}
                                            {{ nav_macros.li_link_or_span(third_level, true) }}
                                        {% endfor %}
                                </ul> 
                            {% else %}
                                <ul>
                                    {{ nav_macros.level_two_link_or_span(second_level) }}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>

        <li>
            {% for second_level in nav_item.children %}
                {% if second_level.is_section %}
                    <ul>
                        {{ nav_macros.level_two_section_link_or_span(second_level)}}
                            {% for third_level in second_level.children %}
                                {{ nav_macros.li_link_or_span(third_level, true) }}
                            {% endfor %}
                    </ul> 
                {% else %}
                    <ul>
                        {{ nav_macros.level_two_link_or_span(second_level) }}
                    </ul>
                {% endif %}
            {% endfor %}
        </li>


        {% macro level_two_link_or_span(nav_item) -%}
    {% if nav_item.active %}
        <span class="side-panel-highlight"><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
    {% endif %}
{%- endmacro %}

{% macro level_two_span(nav_item) -%}
    {% if nav_item.active %}
        <span class="side-panel-highlight"><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
    {% endif %}
{%- endmacro %}

{% macro level_two_section_link_or_span(nav_item) -%}
    {% if nav_item.active %}
        <a class="side-panel-section-lowlight" href="{{ nav_item.title.lower() |url }}"><span>{{ nav_item.title }}</span></a>
    {% elif page.url.startswith(nav_item.title.lower()) %}
        <span class="side-panel-highlight"><i>{{ nav_item.title }}</i></span>
    {% else %}
        <a href="{{ nav_item.title.lower() |url }}"><span>{{ nav_item.title }}</span></a>
    {% endif %}
{%- endmacro %}