{% macro is_image_only( tile ) -%}
{% if tile.img_src|string|length and not tile.link_href|string|length %}
true
{% else %}
false
{% endif %}
{%- endmacro -%}

{% macro is_link_only( tile ) -%}
{% if not tile.img_src|string|length and tile.link_href|string|length %}
true
{% else %}
false
{% endif %}
{%- endmacro -%}

{% macro is_linked_tile( tile ) -%}
{% if tile.img_src|string|length and tile.link_href|string|length %}
true
{% else %}
false
{% endif %}
{%- endmacro -%}