name: Test Package

on: 
  pull_request:
    types: [ synchronize ]

jobs:
  test:
    strategy:
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12']
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - if: ${{ matrix.platform == 'ubuntu-latest' }} 
        name: (ubuntu) Install Testing Prereqs
        run: |
          make USE_SUDO=1 install-test-prereqs
      - if: ${{ matrix.platform == 'macos-latest' }} 
        name: (macos) Install Testing Prereqs
        run: |
          git clone https://github.com/htacg/tidy-html5.git
          cd tidy-html5/build/cmake
          cmake ../.. -DCMAKE_BUILD_TYPE=Release "-DCMAKE_OSX_ARCHITECTURES=x86_64;arm64"
          make 
          sudo make install
      - name: Install Tox
        run: make install-tox
      - name: Test Build/Package with Tox
        run: python -m tox -e py
      - if: ${{ matrix.platform == 'ubuntu-latest' }} 
        name: (ubuntu) Run Tox pytests
        run: |
          python -m tox -e pytest-linux
      - if: ${{ matrix.platform == 'macos-latest' }} 
        name: (macos) Run Tox pytests
        run: |
          python -m tox -e pytest-darwin
          