name: Test Package

on: 
  pull_request:
    types: [ synchronize ]

jobs:
  test:
    strategy:
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10']
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}
      - if: ${{ matrix.platform == 'ubuntu-latest' }} 
        name: (ubuntu) Install Testing Prereqs
        run: |
          make USE_SUDO=1 install-dev-requirements
      - if: ${{ matrix.platform == 'macos-latest' }} 
        name: (macos) Install Testing Prereqs
        run: |
          brew install tidy-html5
      - name: Install Tox
        run: make install-tox
      - name: Test Build/Package with Tox
        run: python -m tox -e py
      - name: Run Tox pytests
        run: |
          python -m tox -e pytest